@{
    var lista = (IList<Contrato>)ViewBag.lista;
    ViewData["Title"] = "Lista de Contratos";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card" id="card-form">
                <div class="card-header">
                    <h1 class="display-4 text-center">CONTRATOS</h1>
                </div>
                <div class="card-body">
                    <form class="my-2" method="get" action="">
                        <div class="form-group row">
                            <div class="col-md-8">
                                <input type="text" name="search" placeholder="Buscar contrato..."
                                    class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary"><ion-icon
                                        name="search-outline"></ion-icon></button>
                            </div>
                        </div>
                    </form>

                    @if (lista.Count != 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>FechaInicio</th>
                                        <th>FechaFinalizacion</th>
                                        <th>MontoAlquilerMensual</th>
                                        <th>Activo</th>
                                        <th>Pagos</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in lista)
                                    {
                                        <tr class="accordion-toggle" data-toggle="collapse" data-target="#fila-@item.Id">
                                            <td>@item.FechaInicio</td>
                                            <td>@item.FechaFinalizacion</td>
                                            <td>@item.MontoAlquilerMensual</td>
                                            <td>@item.Activo</td>
                                            <td>pagos</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Acciones">
                                                    <a href="@Url.Action("Update", new { id = item.Id })"
                                                        class="btn btn-outline-secondary"><ion-icon
                                                            name="create-outline"></ion-icon>
                                                    </a>
                                                    <a href="@Url.Action("Delete", new { id = item.Id })"
                                                        class="btn btn-outline-danger" id="btn-delete-@item.Id"><ion-icon
                                                            name="trash-outline"></ion-icon> </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="hiddenRow">
                                            <td colspan="7">
                                                <div class="collapse" id="fila-@item.Id">
                                                    <div class="card card-body">
                                                        <h3>Inquilino:</h3>
                                                        <p>Nombre: @item.Inquilino.Nombre </p>
                                                        <p>Apellido @item.Inquilino.Apellido</p> 
                                                        <p>Dni: @item.Inquilino.Dni</p> 
                                                        <p>Telefono: @item.Inquilino.Telefono</p> 
                                                        <p>Email: @item.Inquilino.Email</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    }
                    else
                    {
                        <h2 class="text-center">No hay contratos en el sitio</h2>
                    }
                </div>
                <div class="card-footer text-end" id="add">
                    <a class="btn btn-success" href="@Url.Action("Create")" role="button"><ion-icon
                            name="add-outline"></ion-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-4">

    <div class="col-md-4">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5 class="card-title">Contratos totales</h5>
                <p class="card-text">@lista.Count()</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5 class="card-title">Contratos totales</h5>
                <p class="card-text">@lista.Count()</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5 class="card-title">Contratos totales</h5>
                <p class="card-text">@lista.Count()</p>
            </div>
        </div>
    </div>

</div>





<style>
    #card-form {
        background-color: #ada8a85c;
        height: 500px;
        overflow-y: scroll;
    }

    #add {
        position: sticky;
        bottom: 0;
    }

    .accordion-toggle {
        transition: all .5s ease;
    }

    .accordion-toggle:hover {
        background-color: #abe7a3;
        cursor: pointer;
    }

    .table-responsive {
        background-color: #c2c4cf;
        border-radius: 5px;
        border: .5px solid rgb(105, 101, 101);
    }
</style>


