@{
    ViewData["Title"] = "Crear Contrato";
}



<div class="d-flex justify-content-center align-items-center col-lg-5">
    <form class="container mt-5" asp-action="UpdateContrato" method="post">

        <h1> Actualizar Contrato </h1>


        <div class="form-group">
            <label for="fechaInicio">Fecha de Inicio:</label>
            <input class="form-control" type="date" value="@Model.Contrato.FechaInicio" id="fechaInicio" name="fechaInicio">
        </div>
        <div class="form-group">
            <label for="fechaFinalizacion">Fecha Finalizacion:</label>
            <input class="form-control" type="date" value="@Model.Contrato.FechaFinalizacion" id="fechaFinalizacion" name="fechaFinalizacion">
        </div>
        <div class="form-group">
            <label for="montoAlquilerMensual">Monto Alquiler Mensual:</label>
            <input class="form-control" type="text" value="@Model.Contrato.MontoAlquilerMensual" id="montoAlquilerMensual" name="montoAlquilerMensual">
        </div>
        <div class="form-group">
            <label for="activo">Activo:</label>
            <input class="form-control" type="text" value="@Model.Contrato.Activo" id="activo" name="activo">
        </div>

        <div class="form-group">
            <label for="idInquilino">Inqilino:</label>
            <select class="form-control" id="idInquilino" name="idInquilino">
                <option value="">Seleccione un inquilino...</option>
                @foreach (var inquilino in Model.ListaInquilinos)
                {
                    <option value="@inquilino.Id">@inquilino.ToString()</option>
                }
            </select>
        </div>

        <button class="btn btn-primary my-2" type="submit">Guardar</button>
    </form>
</div>


<style>
    body {
        background-color: rgb(35, 39, 48);
    }

    label,
    h1 {
        color: white;
    }

    .form-control {
        background-color: #474749;
    }
</style>