@model List<Propietario>
@{
    List<Propietario> lista = Model;
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card" id="card-form">
                <div class="card-header">
                    <h1 class="display-4 text-center">PROPIETARIOS</h1>
                </div>
                <div class="card-body">
                    <form class="my-2" method="get" action="">
                        <div class="form-group row">
                            <div class="col-md-8">
                                <input type="text" name="search" placeholder="Buscar propietarios..."
                                    class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary"><ion-icon
                                        name="search-outline"></ion-icon></button>
                            </div>
                        </div>
                    </form>
                    @if (lista.Count != 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Dni</th>
                                        <th>Telefono</th>
                                        <th>Email</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in lista)
                                    {
                                        <tr class="accordion-toggle" data-toggle="collapse" data-target="#fila-@item.Id">
                                            <td>@item.Nombre</td>
                                            <td>@item.Apellido</td>
                                            <td>@item.Dni</td>
                                            <td>@item.Telefono</td>
                                            <td>@item.Email</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Acciones">
                                                    <a href="@Url.Action("Update", new { id = item.Id })"
                                                        class="btn btn-outline-secondary"><ion-icon
                                                            name="create-outline"></ion-icon> </a>
                                                    <a href="@Url.Action("Delete", new { id = item.Id })"
                                                        class="btn btn-outline-danger"><ion-icon
                                                            name="trash-outline"></ion-icon> </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="hiddenRow">
                                            <td colspan="6">
                                                <div class="collapse" id="fila-@item.Id">
                                                    <div class="card card-body">
                                                        <p>Información adicional sobre el inquilino...</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <h2>No hay propietarios en el sitio</h2>
                    }
                </div>
                <div class="card-footer text-end" id="add">
                    <a class="btn btn-success" href="Propietarios/Create" role="button"> <ion-icon
                            name="add-outline"></ion-icon></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-4">

    <div class="col-md-4">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5 class="card-title">Propietarios totales</h5>
                <p class="card-text">@lista.Count()</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5 class="card-title">Propietarios totales</h5>
                <p class="card-text">@lista.Count()</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5 class="card-title">Propietarios totales</h5>
                <p class="card-text">@lista.Count()</p>
            </div>
        </div>
    </div>

</div>


<style>
    body {
        background-color: rgb(35, 39, 48);
    }

    #add {
        position: sticky;
        bottom: 0;
    }

    #card-form {
        background-color: #bfbebe;
        height: 500px;
        overflow-y: scroll;
    }

    .table-responsive {
        background-color: #c2c4cf;
        border-radius: 5px;
        border: .5px solid rgb(105, 101, 101);
    }
</style>
